<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
</head>
<body>
    
    <h2>Using Gist in Github</h2>
      
    
    <script src="https://gist.github.com/pasindugunasekara/ed2752be816aa54cc0659d4cf3afd34f.js"></script>

    {{/* <p >
        <iframe id="Bubbles"
            title="Bubbles"
            width="70%"
            height="750"
            src="https://gist.github.com/pasindugunasekara/ed2752be816aa54cc0659d4cf3afd34f.js">
        </iframe>
    </p> */}}

</body>
</html>